export DATABASE_URL
export JWT_SECRET
export REDIS_ADDR
export SMTP_HOST
export SMTP_PORT
export SMTP_USERNAME
export SMTP_PASSWORD
export SMTP_SENDER
# Set to "true" to log full password reset tokens (development only, never in production!)
export LOG_TOKENS=false